<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <!-- <input type="text" name="crop" placeholder="Crop:"> -->
         <select name="crop">
            <% for (let i = 0; i < crops.length; i++) { %>
                <option value="<%= crops[i] %>"><%= crops[i].toUpperCase() %></option>
            <% } %>
         </select>
        <input type="number" name="quantity" placeholder="Harvest in KG:">
        <input type="submit">
    </form>
</body>
</html>