<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Level</title>
</head>
<body>
    <p>Level: <%= level %></p>
    <p>Percentage: <%= percentage %></p>
</body>
</html>