<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Job Requirement</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="job" placeholder="Job:" autocomplete="off">
        <input type="number" name="salary" placeholder="Salary Per Hour:">
        <input type="number" name="daysPerWeek" placeholder="Days Per Week:">
        <input type="text" name="location" placeholder="Location:" autocomplete="off">
        <input type="submit">
    </form>
</body>
</html>