<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Perks</title>
</head>
<body>
    <h1>Your Perks:</h1>
    <% for (let i = 0; i < perks.length; i++) { %>
        <p><%= perks[i] %></p>
    <% } %>
</body>
</html>