<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Fraud</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="subject" placeholder="Subject:"><br>
        <textarea name="body" placeholder="Your Report:"></textarea><br>
        <input type="submit"><br>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
    </form>
</body>
</html>