<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Crop</title>
</head>
<body>
    <h2><%= crop.name.toUpperCase() %></h2>
    <p>Starting Date: <%= new Date(crop.date).toLocaleString('en-IN') %></p>
    <p>Current Harvest: <%= crop.harvest %> kg</p>
</body>
</html>