<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Your Crops</title>
</head>
<body>
    <p>Your Crops:</p>
    <% for (let i = 0; i < crops.length; i++) { %>
        <p><a href="/crop/view/<%= crops[i] %>"><%= crops[i].toUpperCase() %></a></p>
    <% } %><br>
    <button onclick="window.location.href = '/crop/new'">Track new crop</button>
</body>
</html>